@model AdminRoles.Models.DepartmentType
@{
    ViewBag.Title = "CascadeList";
}

<h2>CascadeList</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model=>model.Name)
        @Html.DropDownListFor(model=>model.Name,(SelectList)ViewBag.DepartmentTypes,"Select",new {@class = "form-control"})
    </div>


    @*
        <select id="DepartmentList">
            <option>
                @Html.DropDownListFor(model => model.Name, (SelectList)ViewBag.DepartmentTypes, "--Select Users--")
            </option>
        </select>
    *@
    <form>
        <select id="DivisionList">
            <option>Select DivisionType</option>
        </select>
    </form>
}
@section scripts
    {
    <script type="text/javascript">

            $(document).ready(function () {
                $("#DepartmentList").change(function () {
                    $("#DivisionList").empty();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("LoadDivision")',

                        dataType: 'json',
                        data: { id: $("#DepartmentList").val() },

                        success: function (DivisionTypes) {
                            $("#DivisionList").append('<option value"' + -1 + '">' + "Select Division" + '</option>');

                            $.each("#DivisionList", function (i, DivisionTypes) {
                                $("#DivisionList").append('<option value"' + DivisionTypes.value + '">' + DivisionTypes.text + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Faile to retrieve the data' + ex);
                        }
                    });
                    return false;
                })
            })
    </script>
}