@model AdminRoles.Models.DepartmentType
    @{
        ViewBag.Title = "Create";
    }

    <h2>Create</h2>

    <div>
        @using (Html.BeginForm("Create","CascadeDropdown"))
        {
            <table class="table table-bordered table-hover">
                <tr>
                    <td>Create Department:</td>
                    <td>@Html.EditorFor(m=>m.Name)</td>
                </tr>
            </table>
            <input type="submit" value="Create Department" />
        }
    </div>